<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>practice web</title>
    <script>
        var myStorage = window.sessionStorage;
        myStorage.setItem('jwt_token', '2806e7e624204664a8c4f45500ff5499');
    </script>
</head>

<body>
    <div id="content"></div>
</body>

</html>