html, body {
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#content {
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}

/*======= table ===========*/
.table-column {
    height: 39px;
    color: #666;
    font-size: 12px;
}

.table-column a{
    color:#5490df;
    text-decoration: none;
}

.table-column a:hover{
    text-decoration: none;
}

.table-column a:visited{
    text-decoration: none;
}

/*======= pagination ===========*/
.common-pagination {
    float: right;
}

/*======= logo ===========*/
.menu-logo {
  height: 64px;
  margin: 0px;
}

.form-input {
    font-size: 12px;
}

/*======= header ===========*/
.header-trigger {
  font-size: 20px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.header-trigger:hover {
  color: #1890ff;
}

.header-right-wrap {
    float:right;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 325px;
    height: 64px;
    background-color: #fff;
}

.header-right-wrap ul{
    height:100%;
    padding:0;
    margin: 0;
}

.header-right-wrap li{
    padding:0;
    margin: 0;
}

.header-right {
    float: right;
    background-color: #fff;
}

 .header-item {
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    color: #999;
    text-align: center;
    cursor: default;
}

.user-info-item {
    padding: 0 15px;
    font-size: 0;
    height: 64px;
    margin-top: -1px;
    padding-right: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.user-info-item:hover{
    background-color: #f9f9f9;
    .user-name,.user-role{
        color: #1890ff;
    }
}

.avatar-box {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
}

.avatar-box img {
    width: 100%;
    border-style: none;
}

.user-info {
    width: 101px;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.user-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-role {
    font-size: 12px;
    color: #999;
}